<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
	</head>

	<body>
		 <nav class="mui-bar mui-bar-tab">
		 	<a class="mui-tab-item mui-active" viewPage="conferenceScreen.html">
		 		<span class="mui-icon mui-icon-home"></span>
		 		<span class="mui-tab-label">会议首页</span>
		 	</a>
		 	<a class="mui-tab-item" viewPage="joinConf.html">
		 		<span class="mui-icon mui-icon-phone" ></span>
		 		<span class="mui-tab-label">加入会议</span>
		 	</a>
		 	<a class="mui-tab-item" viewPage="setting.html" id="setting">
		 		<span class="mui-icon mui-icon-gear"></span>
		 		<span class="mui-tab-label">我</span>
		 	</a>
		 </nav>
		 
		<script src="../js/mui.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../js/browser.min.js"></script>
		<script type="text/babel" src="../js/controller.home.js"></script>
	</body>

</html>
